<%- include('../layout') %>
<div class="row">
  <div class="col-10 mt-3 mx-auto">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center"><%= title %></h2>
      </div>
      <form action="" method="post">
        <div class="card-body">
          <div class="d-flex flex-row align-items-center">
            <div class="col-md-3">
              <label for="title" class="">Title</label>
            </div>
            <div class="col">
              <input type="text" class="form-control" id="title" name="title" value="<%= todo ? todo.title : '' %>" required autocomplete="off" autofocus />
            </div>
          </div>
          <% if (todo) { %>
          <div class="d-flex flex-row align-items-center">
            <div class="col-md-3">
              <label for="deadline" class="">Deadline</label>
            </div>
            <div class="col">
              <% const date = new Date(todo.deadline); const year = date.getFullYear(); const month = String(date.getMonth() + 1).padStart(2, '0'); const day = String(date.getDate()).padStart(2, '0');
              const hours = String(date.getHours()).padStart(2, '0'); const minutes = String(date.getMinutes()).padStart(2, '0'); const formattedDate = `${year}-${month}-${day}T${hours}:${minutes}`;
              %>
              <input type="datetime-local" class="form-control" id="deadline" name="deadline" value="<%= formattedDate %>" required />
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="col-md-3">
              <label for="complete" class="">Complete</label>
            </div>
            <div class="col">
              <label for="complete"> <input type="checkbox" class="me-2" name="complete" id="complete" autocomplete="off" <%= todo.complete? 'checked': '' %> />Done</label>
            </div>
          </div>
          <% } %>
        </div>
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
          <a href="/todos" class="btn btn-warning"><i class="fa-solid fa-arrow-rotate-left"></i></a>
        </div>
      </form>
    </div>
  </div>
</div>

