<%- include('../layout') %>
<div class="row">
  <div class="col-10 mt-3 mx-auto">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center"><%= title %></h2>
      </div>
      <form action="" method="post">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="title">Title</label>
            </div>
            <div class="col-md-9 align-self-center">
              <input type="text" class="form-control" name="title" value="<%= todo ? todo.title : '' %>" id="title" placeholder="Insert your title" required />
            </div>
          </div>
          <% if (todo) { %>
          <div class="row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="deadline" class="">Deadline</label>
            </div>
            <div class="col-md-9 align-self-center">
              <% const date = new Date(todo.deadline); const year = date.getFullYear(); const month = String(date.getMonth() + 1).padStart(2, '0'); const day = String(date.getDate()).padStart(2, '0');
              const hours = String(date.getHours()).padStart(2, '0'); const minutes = String(date.getMinutes()).padStart(2, '0'); const formattedDate = `${year}-${month}-${day}T${hours}:${minutes}`;
              %>
              <input type="datetime-local" class="form-control" id="deadline" name="deadline" value="<%= formattedDate %>" required />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 align-self-center">
              <label for="complete" class="">Complete</label>
            </div>
            <div class="col-md-9 align-self-center">
              <input type="checkbox" class="form-check-input me-2" name="complete" id="complete" <%= todo.complete? 'checked': '' %> />
              <label for="complete" class="form-check-label">Done</label>
            </div>
          </div>
          <% } %>
        </div>
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
          <a href="/todos" class="btn btn-warning"><i class="fa-solid fa-arrow-rotate-left"></i></a>
        </div>
      </form>
    </div>
  </div>
</div>

