<%- include('../layout') %>
<div class="row">
  <div class="col-md-10 mt-3 mx-auto">
    <div class="card">
      <div class="card-header d-flex flex-row justify-content-between p-3">
        <div class="d-flex flex-row align-items-center">
          <img id="profilePicture" src="<%= user.avatarPath || '/images/default64.png' %>" class="img-fluid rounded-circle" alt="User Profil Picture" />
          <h3 class="mb-0 text-wrap mx-3"><%= user.email %></h3>
        </div>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-secondary" href="/signout" role="button"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
        </div>
      </div>
      <div class="card-header">
        <h3 class="card-title text-center my-1 mx-auto"><%= cardTitle %></h3>
      </div>
      <div class="card-body">
        <form action="" method="get">
          <div class="row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="title">Title</label>
            </div>
            <div class="col-md-9 align-self-center">
              <input type="text" class="form-control" name="title" value="<%= search.title %>" id="title" placeholder="Insert your title" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="startdate">Deadline</label>
            </div>
            <div class="col-md-4 align-self-center">
              <input type="date" class="form-control" name="startdate" value="<%= search.startdate %>" id="startdate" />
            </div>
            <div class="col-md-1 align-self-center text-center">
              <label for="lastdate">s.d.</label>
            </div>
            <div class="col-md-4 align-self-center">
              <input type="date" class="form-control" name="lastdate" value="<%= search.lastdate %>" id="lastdate" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="complete">Complete</label>
            </div>
            <div class="col-md-9 align-self-center">
              <select class="form-select" name="complete" id="complete">
                <option selected disabled class="d-none">&minus; Select Complete &minus;</option>
                <option value="false" <%= search.complete === 'false' ? 'selected' : '' %>>Not Yet</option>
                <option value="true" <%= search.complete === 'true' ? 'selected' : '' %>>Done</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="or">Operation</label>
            </div>
            <div class="col-md-9 align-self-center">
              <div class="form-check form-check-inline align-self-center">
                <input class="form-check-input" type="radio" name="operation" id="or" value="OR" <%= search.operation === "OR" ? "checked" : "" %> checked />
                <label class="orm-check-label" for="or">OR</label>
              </div>
              <div class="form-check form-check-inline align-self-center">
                <input class="form-check-input" type="radio" name="operation" id="and" value="AND" <%= search.operation === "AND" ? "checked" : "" %> />
                <label class="form-check-label" for="and">AND</label>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-start mt-3">
            <button type="submit" class="btn btn-info me-2"><i class="fa-solid fa-magnifying-glass"></i></button>
            <a class="btn btn-warning" href="/todos" role="button"><i class="fa-solid fa-rotate"></i></a>
          </div>
        </form>
      </div>
      <hr />
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="col-md-1">No.</th>
              <% if (sort === 'title' && order === 'asc') { %>
              <th scope="col" class="col">
                <a href="/todos?sort=title&order=desc" class="text-black text-decoration-none"><i class="fa-solid fa-sort-up me-2"></i>Title</a>
              </th>
              <% } else if (sort === 'title' && order === 'desc') { %>
              <th scope="col" class="col">
                <a href="/todos?sort=title&order=asc" class="text-black text-decoration-none"><i class="fa-solid fa-sort-down me-2"></i>Title</a>
              </th>
              <% } else { %>
              <th scope="col" class="col">
                <a href="/todos?sort=title&order=asc" class="text-black text-decoration-none"><i class="fa-solid fa-sort me-2"></i>Title</a>
              </th>
              <% } %> <% if (sort === 'complete' && order === 'asc') { %>
              <th scope="col" class="col-md-2">
                <a href="/todos?sort=complete&order=desc" class="text-black text-decoration-none"><i class="fa-solid fa-sort-up me-2"></i>Complete</a>
              </th>
              <% } else if (sort === 'complete' && order === 'desc') { %>
              <th scope="col" class="col-md-2">
                <a href="/todos?sort=complete&order=asc" class="text-black text-decoration-none"><i class="fa-solid fa-sort-down me-2"></i>Complete</a>
              </th>
              <% } else { %>
              <th scope="col" class="col-md-2">
                <a href="/todos?sort=complete&order=asc" class="text-black text-decoration-none"><i class="fa-solid fa-sort me-2"></i>Complete</a>
              </th>
              <% } %> <% if (sort === 'deadline' && order === 'asc') { %>
              <th scope="col" class="col-md-3">
                <a href="/todos?sort=deadline&order=desc" class="text-black text-decoration-none"><i class="fa-solid fa-sort-up me-2"></i>Deadline</a>
              </th>
              <% } else if (sort === 'deadline' && order === 'desc') { %>
              <th scope="col" class="col-md-3">
                <a href="/todos?sort=deadline&order=asc" class="text-black text-decoration-none"><i class="fa-solid fa-sort-down me-2"></i>Deadline</a>
              </th>
              <% } else { %>
              <th scope="col" class="col-md-3">
                <a href="/todos?sort=deadline&order=asc" class="text-black text-decoration-none"><i class="fa-solid fa-sort me-2"></i>Deadline</a>
              </th>
              <% } %>
              <th scope="col" class="col-md-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% todos.forEach((todo, index) => { %> <% const now = new Date(); const date = new Date(todo.deadline); const day = date.getDate(); const month = date.toLocaleString('default', { month:
            'short' }); const year = date.getFullYear(); const hours = String(date.getHours()).padStart(2, '0'); const minutes = String(date.getMinutes()).padStart(2, '0'); const formattedDate =
            `${day} ${month} ${year} ${hours}:${minutes}`; const passedDeadline = date < now && !todo.complete; %>
            <tr class="<%= passedDeadline ? 'deadline' : '' %>">
              <td scope="row" class="col-md-1"><%= index + offset + 1 %></td>
              <td class="col"><%= todo.title %></td>
              <td class="col-md-2"><%= todo.complete ? "Done" : "Not Yet" %></td>
              <td class="col-md-3"><%= formattedDate %></td>
              <td class="col-md-2">
                <a class="btn btn-success" href="/todos/edit/<%= todo.id %>" role="button"><i class="fa-solid fa-pen"></i></a>
                <button type="button" class="btn btn-danger" onclick="showDeleteModal(parseInt(`<%= todo.id %>`), `<%= todo.title %>`)"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row justify-content-between">
          <a class="btn btn-primary align-items-center" href="todos/add" role="button"><i class="fa-regular fa-plus"></i></a>
          <nav aria-label="Page navigation">
            <ul class="pagination mb-0">
              <% if (total > 0 && pages > 1) { %>
                <!-- previous -->
                <% if (page > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="/todos?<%= searchPage %><%= sort ? '&sort=' + sort : '' %><%= order ? '&order=' + order : '' %>&page=<%= page - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% } %>
          
                <!-- first page -->
                <li class="page-item <%= page === 1 ? 'active' : '' %>">
                  <a class="page-link" href="/todos?<%= searchPage %><%= sort ? '&sort=' + sort : '' %><%= order ? '&order=' + order : '' %>&page=1">1</a>
                </li>
          
                <!-- ellipsis before -->
                <% if (page > 3) { %>
                <li class="page-item disabled">
                  <span class="page-link">...</span>
                </li>
                <% } %>
          
                <!-- page range around current page -->
                <% for (let i = Math.max(2, page - 1); i <= Math.min(pages - 1, page + 1); i++) { %>
                <li class="page-item <%= i === page ? 'active' : '' %>">
                  <a class="page-link" href="/todos?<%= searchPage %><%= sort ? '&sort=' + sort : '' %><%= order ? '&order=' + order : '' %>&page=<%= i %>"><%= i %></a>
                </li>
                <% } %>
          
                <!-- ellipsis after -->
                <% if (page < pages - 2) { %>
                <li class="page-item disabled">
                  <span class="page-link">...</span>
                </li>
                <% } %>
          
                <!-- last page -->
                <% if (pages > 1) { %>
                <li class="page-item <%= page === pages ? 'active' : '' %>">
                  <a class="page-link" href="/todos?<%= searchPage %><%= sort ? '&sort=' + sort : '' %><%= order ? '&order=' + order : '' %>&page=<%= pages %>"><%= pages %></a>
                </li>
                <% } %>
          
                <!-- next -->
                <% if (page < pages) { %>
                <li class="page-item">
                  <a class="page-link" href="/todos?<%= searchPage %><%= sort ? '&sort=' + sort : '' %><%= order ? '&order=' + order : '' %>&page=<%= page + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <% } %>
              <% } %> 
            </ul>
          </nav>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Apakah kamu yakin akan menghapus data '<span id="deleteItemName"></span>'?</p>
      </div>
      <div class="modal-footer">
        <form id="deleteForm" action="" method="post">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn btn-warning">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const showDeleteModal = (id, name) => {
    document.getElementById("deleteItemName").innerText = name;
    document.getElementById("deleteForm").action = "/todos/delete/" + id;
    var deleteModal = new bootstrap.Modal(document.getElementById("deleteModal"));
    deleteModal.show();
  };
  document.addEventListener("DOMContentLoaded", function () {
    const profilePicture = document.getElementById("profilePicture");
    profilePicture.addEventListener("click", function () {
      window.location.href = "/user/avatar";
    });
  });
</script>

